body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #79c15b;
}

img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: auto;
}

h1 {
  font-family: Copperplate;
  font-size: 4em;
  width: 80%;
  color: #353535;
  text-align: center;
  margin: auto;
  
}

h2 {
  font-family: Copperplate;
  font-size: 3em;
  color: #28334aff;
  margin: auto;
}

.main-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: '';
}

.small-box {
  width: 45%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  background-color: #61b846;
  border-radius: 2em;
}

footer {
  font-family: Copperplate;
  font-size: 2em;
  width: 80%;
  color: #28334aff;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
}

.form-box {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: auto;
  background-color: rgb(223, 221, 221);
  font-size: 2em;
  align-items: center;
}

.form-selection {
  font-size: 45px;
}

.sticker-box {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: auto;
  background-color: rgb(223, 221, 221);

  font-size: 2em;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-shadow: none;
  border-color: black;
  color: black;
  background-color: rgb(98, 216, 128);
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 300;
  padding: auto;
}
